'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'MoonLoader'
      'submenu': [
        {
          'label': 'Toggle search'
          'command': 'moonloader:toggleSearch'
        }
      ]
    ]
  }
]
